
 legend
{
    font-family: sans-serif;
}

body
{    
    font-family: sans-serif; 
    font-size: 16px;
}

table
{
    width: 50%;
    margin: 0 auto ;
}


legend
{
   text-align: center; 
   font-size: 30px;
}


fieldset
{
    margin:1em auto;
    width: 35%;
}

form p
{
    margin-top: 1.5em
}

form input[type="text"]
{
    height: 30px;
    font-size: 16px;
    padding: 2px;
}
form select
{
    height: 40px;
    font-size: 16px;
    padding: 2px;
}
form input[type="date"],form input[type="email"]
{
    height: 30px;
    font-size: 16px;
    padding: 2px;
   
}

form input[type="reset"],form input[type="submit"]
{
   height: 30px;
   font-size: 16px;
    padding: 2px;
}

form input[type="tel"]
{
    height: 30px;
    font-size: 16px;
    padding: 2px;
}



