p,h1,html,body,a,div,figure,img

   body
   {
	   background-color: white;
   }

   p
  {
	 /* background-color: black; */
	  display: inline;
	  padding: 0;

  }
/* icons orange from black*/
  p i:hover { color: orange;
  }




  /* e kemi ndryshu kornizen e inputit search*/
label input  {
               border-radius: 10px;
                background: #353535;
                padding: 10px;
                width: 200px;
                height: 10px;
                text-decoration: none;
                color: white;
}
  p label  {float: right; }
  
  /*rregullimi ikonave in,twitter etj */
  body p a
  {
      padding: 14px;
      
      
  }


  nav ul p
  {
      background-color: white;
	  font-size: 2.6em;
	  font-style: italic;
	  background-size: 100px 100px 100px 100px;
  }
  
  nav ul p2
  {
       background-color: white;
	  font-size: 2em;
	  font-style: italic;
  }
  
  
  
  
    ul li
  {   float: right;
	  list-style: none;
	  display: inline;
	  margin-left: 20px;
 }

/* menyte(homepage...) me elementin hover,border per vijen*/
  ul li :hover{color: hotpink;
  border-bottom: 1px solid #000;
    padding-bottom: 8px;
    border-color: hotpink;
  }

/* heqja e underline te linkut*/
 li a {text-decoration:none;
      /* border-bottom: 1px solid #000*/

}

figcaption h4 { float: left;}

  nav ul p1
  {
	  font-size: 1em;
	  font-style: oblique;
  }

  section h1
  {
	 text-align: center;
     padding: 10px;
     font-size: 5em;
     font-family:serif;
     
  }
/* menyte homepage....*/
li a {color: black;
}


  div
  { float: center;
	 text-align: center;
     padding: 0px;
font-family: "Times New Roman", Times, serif;
  }

  section h3
  {
	  text-align: center;
     padding: 10px;
  }

  /* borders te vieww full gallery*/
#b a{
  border-radius: 10px;
  background: #D24260;
  padding: 10px;
  width: 300px;
  height: 10px;
  text-decoration: none;
  color: white;
}
/* border search*/
  #search {
  border-radius: 10px;
  background: #D24260;
  padding: 10px;
  width: 50px;
  height: 10px;
  text-decoration: none;
  color: white;
}
/* vija pas view full gallery*/
   #v1
  {
	  position: relative;
	  top: 10px;
	  border: none;
	  height: 0.5px;
	  background: gray;
	  margin-bottom: 100px;
  }
  
 
  
  
 figure  img   {
               float: left;
               width: 10%;
               text-align: right;
               font-style: italic;
               font-size: smaller;
               text-indent: 0;
               border: thin silver solid;
               margin: 0px;
               padding: 5em;
}
figure h4 {text-align: left;
         text-indent: 0;
         }

nav #1 {float: right;
        right: 50px;
}
/* vija pas fotove pink*/
hr #v2 {
          position: relative;
    	  top: 250px;
    	  border: none;
    	  height: 8px;
    	  margin-bottom: 50px;
    	  background: hotpink;
}

  hr #v3
  {
      position: relative;
      top:10px;
      border: none;
      heigh:0.5px;
      backgroung: gray;
      margin-bottom: 100px;
      
  }
/* dizajnimi i tabeles*/
table {
       width: 100%;
       text-align: left;
}
th {
  height: 50px;
}

td #submit {
  border-radius: 10px;
  background: #D24260;
  padding: 15px;
  width: 80px;
  height: 10px;
  text-decoration: none;
  color: white;

}
td a {text-decoration: none;}



.fa-clickable {
    cursor:pointer;
    outline:none;
}

p a i {color: black;}

footer p1
{
    margin-left: 1000px;
}
